ion-content {
  --background: transparent;

  background-image: url('/assets/background/background2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  
}

ion-item {
  margin-bottom: 12px;
}

ion-button {
  margin-top: 20px;
}