<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="perfilForm" (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="floating">Apodo</ion-label>
      <ion-input formControlName="apodo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de nacimiento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="fechaNacimiento"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select formControlName="genero">
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="femenino">Femenino</ion-select-option>
        <ion-select-option value="otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!perfilForm.valid">
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>