ion-content {
  --background: transparent;

  background-image: url('/assets/background/background4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  
}