<!-- Titulo -->
<ion-header>
  <ion-toolbar>
    <ion-title>📊 Progreso</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <!-- Resumen general -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Total de días registrados: {{ historial.length }}</p>
      <p>Días con 100% de cumplimiento: {{ diasCompletos }}</p>
      <p>Promedio general de cumplimiento: {{ promedioCumplimiento }}%</p>
    </ion-card-content>
  </ion-card>

  <!-- Progreso por día -->
  <ion-list>
    <ion-list-header>
      <ion-label>Historial diario</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let dia of historial">
      <ion-label>
        <h2>{{ dia.fecha }}</h2>
        <p>✅ {{ dia.cumplidos }} / {{ dia.total }}</p>
        <ion-progress-bar [value]="dia.cumplidos / dia.total" color="success"></ion-progress-bar>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-button expand="full" color="danger" *ngIf="modoDebug" (click)="resetProgreso()">🧹 Borrar Progreso Diario (Modo Prueba)</ion-button> -->

</ion-content>