<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="habitos">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="extras">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Biblioteca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progreso">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Progreso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mascota">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Mascota</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>