ion-content {
  --background: transparent;

  background-image: url('/assets/background/background3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  
}

ion-card img {
  border-radius: 10px;
  height: 120px;
  object-fit: cover;
}
ion-card-subtitle {
  text-align: center;
  font-weight: bold;
}