
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>🌟 Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Sección 1: Logros -->
  <ion-card (click)="abrirLogros()" button>
    <ion-card-header>
      <ion-card-title>🏆 Logros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Mira los logros que has desbloqueado hasta ahora.
    </ion-card-content>
  </ion-card>

  <!-- Sección 2: Categorías de comida -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>🍴 Recomendaciones Saludables</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let categoria of categorias">
            <ion-card (click)="verDetalle(categoria)">
              <ion-img [src]="categoria.strCategoryThumb"></ion-img>
              <ion-card-header>
                <ion-card-subtitle>{{ categoria.strCategory }}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>